<h3>تأكيد استعادة كلمة المرور</h3>

@if (TempData["error"] != null)
{
    <div class="text-danger">@TempData["error"]</div>
}
else
{
    <p>
        The link has been sent, please check your email to reset your password.<br />

        تم ارسال الرابط للبريد الالكتروني, يرجى فحص  بريدك الوارد أو المهمل لاستعادة كلمة المرور
    </p>
}
