<h3>تأكيد استعادة كلمة المرور</h3>

    <h4>تم استعادة كلمة المرور بنجاح</h4>
    <br />

 <p> 
      <a class="nav-link text-dark" id="login" asp-area="Identity" asp-page="/Account/Login">اضغط هنا للدخول</a>
</p>